In [69]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeClassifier

from sklearn.neighbors import NearestNeighbors
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer

# Exercise 12
### Download Credit.csv file from ISL homepage. Dataset is described here.  Create logistic regression models with possibly high prediction accuracy for predicting

In [54]:
df = pd.read_csv('../datasets/Credit.csv')

In [55]:
df

,Unnamed: 0,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

In [56]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [57]:
df_a = df.copy(deep=True)
df_b = df.copy(deep=True)

### a) if a given person has an income greater than 50 (hint: create new indicator variable)

In [58]:
df_a['Income > 50'] = df_a.apply(lambda row: 'Yes' if row['Income'] > 50 else 'No', axis=1)
df_a

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance,Income > 50
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333,No
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903,Yes
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580,Yes
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964,Yes
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560,No
396,13.364,3838,296,5,65,17,Male,No,No,African American,480,No
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138,Yes
398,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0,No
399,18.701,5524,415,5,64,7,Female,No,No,Asian,966,No

In [59]:
features = list(df_a.columns)
features.remove('Income > 50')
result = ['Income > 50']
X = df_a[features]
y = df_a[result]

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=13)

In [61]:
X_train

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
240,29.705,3351,262,5,71,14,Female,No,Yes,Asian,148
375,20.974,5673,413,5,44,16,Female,No,Yes,Caucasian,1000
135,44.473,3500,257,3,81,16,Female,No,No,African American,8
330,20.405,4543,329,2,72,17,Male,Yes,No,Asian,1054
140,39.831,6045,459,3,32,12,Female,Yes,Yes,African American,1425
...,...,...,...,...,...,...,...,...,...,...,...
230,33.214,5137,387,3,59,9,Male,No,No,African American,661
16,53.598,3714,286,3,73,17,Female,No,Yes,African American,0
74,16.103,5390,418,4,45,10,Female,No,Yes,Caucasian,945
176,24.050,2607,221,4,32,18,Male,No,Yes,Caucasian,0
338,41.365,5303,377,1,45,14,Male,No,No,Caucasian,606

### b) how many credit cards a person has.

# Exercise 13

Repeat the previous exercise with the K-Nearest Neighbor and Decision Tree clas-sification models. You may use scikit-learn implementations: KNN and DT. 

For KNN check different values of parameter n_neighbors - the number of considered neighbours. 

For DT check different values of parameter max_depth - the maximum depth of a tree

## Prepare Dataset

In [62]:
df

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,18.701,5524,415,5,64,7,Female,No,No,Asian,966

## Grid Search with Cross Validation

In [74]:
def perform_grid_search_cv(model, parameters, X, y, cv=10, verbose=10, n_jobs=-1):
    grid_object = GridSearchCV(model, parameters, 
                               scoring='accuracy',
                               cv=cv, verbose=verbose, n_jobs=n_jobs, iid=True)
    grid_object.fit(X, y)
    return grid_object.best_estimator_

### K-Nearest Neighbour

In [76]:
params = {'n_neighbors': [1,2,4,8,20,50]}
best_knn = perform_grid_search_cv(NearestNeighbors(), params, X, y)

# knn = .fit(X) 
# distances, indices = nbrs.kneighbors(X)


# perform_grid_search_cv()

Fitting 10 folds for each of 6 candidates, totalling 60 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

ValueError: could not convert string to float: 'Female'

### Decision Tree

In [77]:
params = {'max_depth': [1,10,20]} 
best_dt = perform_grid_search_cv(DecisionTreeClassifier(), params, X, y)

Fitting 10 folds for each of 3 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

ValueError: could not convert string to float: 'Female'

In [ ]:
# kf = KFold(n_splits=k)
    
# for train_index, test_index in kf.split(dataframe):
#     X_train, y_train = dataframe.index[train_index], dataframe.index[train_index]
#     X_test, y_test = dataframe.index[test_index], dataframe.index[test_index]

#     #     X_test, y_test = X[test_index], None#y[test_index]
#     #    print(f'train: {train_index} \n test: {test_index}')
#     #    X_train, X_test = X[train_index], X[test_index]
#     #    y_train, y_test = y[train_index], y[test_index]